* {
/*    border: 1px solid blue;*/
}

.container {
    display: block;
/*    width: 960px;*/
/*    height: 960px;*/
    width: 800px;
    height: 800px;
    
}

.block {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    margin: 0px 0px;
    background-color: antiquewhite
}

div .makered {
    background-color: red;
}

tr, td {
    margin: 0px;
    border: 0px;
    padding: 0px;
}


    