* {
/*    border: 1px solid blue;*/
}

.title {
    position: absolute;
    margin: 20px 275px;
    font-family: 'Rock Salt', cursive;
    font-size: 1.9em;
    
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.container {
/*    display: block;*/
/*    width: 960px;*/
/*    height: 960px;*/
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 10px;
/*    border: 1px solid red;*/
    border-radius: 40px 40px 0px 0px;
    padding: 70px 70px 20px 70px;
    background: #BF0000;
}

table {
    border-radius: 10px;
    border: 4px solid white;
    background-color: #FFFFFF;
}

.block {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    margin: 0px 0px;
    background-color: #C0C0C0;
    opacity: 1.0;
}

div .makered {
    background-color: red;
}

tr, td {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.controls {
    margin: auto;
    width: 940px;
/*    height: 300px;*/
    background-color: #BF0000;
    border-radius: 0px 0px 40px 40px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
}

.button {
    background-color: #C0C0C0;

	font-family: 'Helvetica Neue',sans-serif;
	font-size: 18px;
	line-height: 30px;
	border-radius: 20px;
	border: 3px solid;
    
	width: 80px;
	height: 32px;
    
    opacity: 0.8;
    
    text-align: center;
    margin: 15px 0px;
}

.button:hover {
    border: 3px solid #00BF36;
}

#red {
    color: red;
    text-shadow: red 0 -1px 0;
}

#blue {
    color: blue;
    text-shadow: blue 0 -1px 0;
}

#yellow {
    color: yellow;
    text-shadow: yellow 0 -1px 0;
}

#white {
    color: white;
    text-shadow: white 0 -1px 0;
}

#black {
    color: black;
    text-shadow: black 0 -1px 0;
}

.selected {
/*    border: 3px solid #FFD700;*/
/*    border: 3px solid #593324;*/
    border: 3px solid #64F218;
}

#colors {
/*    float: left;*/
    margin-left: 70px;
}

#edits {
    float: right;
    margin-right: 70px;
}

.help {
    width: 400px;
/*    height: 400px;*/
    background-color: #039EFF;
    
    position: absolute;
    top: 200px;
    left: 290px;
    border: 4px solid #0E5B8C;
}

.help > p {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5em;
/*    text-shadow:*/
/*        -1px -1px 0 #fff,*/
/*        1px -1px 0 #fff,*/
/*        -1px 1px 0 #fff,*/
/*        1px 1px 0 #fff;*/
    color: aliceblue;
    padding: 15px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}


    